# Entorno virtual
.venv/
env/

# Caché de Python
__pycache__/
*.py[cod]
*$py.class

# Distribución y empaquetado
build/
dist/
*.egg-info/

# Node.js
node_modules/
npm-debug.log*

# IDE
.idea/
.vscode/

# Sistema operativo
.DS_Store
Thumbs.db

# Variables de entorno
.env
